/* ----------------------------- */

#toc_container {
    /* background: #f9f9f9 none repeat scroll 0 0; */
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 30px;
    width: auto;
}

.toc_title {
    font-weight: 900;
    text-align: left;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

table, th, td {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 7px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

.box {
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    overflow: hidden;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

quest {
    color:#3337AC;
    /* font-style: bold; */
    font-weight:450;
    font-size: 120%;
}


p {
    text-indent: 20pt;
}


span{
    color: #212E0C;
    font-weight:550;
}

hr { 
    position: relative; 
    top: 20px; 
    border: none; 
    height: 4px; 
    background: black; 
    margin-bottom: 50px; 
} 

h3 {
    color: darkred;
    font-weight: bold;
    font-size: 150%;
	       
}

h4 {
    color: #061D87;
    font-size:140%;
}

body {
    text-align: center;
}
blockquote {
    color: black;
    width:50%;
    position: relative;
    padding: 0 5px;
    margin: 0px auto;
}

/* // ------------------- */


div {
    text-align: justify;
    /* text-justify: inter-word; */
}

body {
    background-color: #EFF5F6;
}


.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header {
    padding: 0.1px;
    text-align: center;
    background: rgba(53, 96, 96, 0.5);
    color: darkred;
    font-size: min(max(16px, 4vw), 22px);
}

/* img { */
/*     border: 10px solid white; */
/*     border-radius: 1%; } */

img {
  max-width: 100%;
  height: auto;
}

@media (max-width:1000px) {
  img#optionalstuff {
    display: none;
  }
}

/* ---------------------------- */

.add-margin {
    text-align: left; } 
#title {
    text-align: center;
    margin-top: 20px; }

#sub-title {
    text-align: center; }

nav {
    margin-top: 20px;
    text-align: center; }


/* nav a.button { */
/*     -webkit-appearance: button; */
/*     -moz-appearance: button; */
/*     appearance: button; */

/*     text-decoration: none; */
/*     color: initial; */
/* } */

/* nav a.current{ */
/*     color: red */
/* } */

/* nav a { */
/*     display:inline-block; */
/*     width:100%; */
/*     height:100%; */
/* } */
/* ------------------------------- */

/* button { */
/*     width: auto; */
/*     height: auto; */
/* } */


/* button hover { */
/*   background-color: #7e7ecc; */
/* } */


.ico {
    display: block;
    color: #fff;
}

.ico:hover {
    color: #ED1C24;
}

button {
    text-align: center;
    font-style: bold;
    /* background: #117ecc; */
    transition: all 0.3s ease 0s;
    border: none;
    width: auto;
    height: auto;
}

button.current {
    background-color: #08A493;
    box-shadow: 0 3px black;
    transform: translateY(1px);
}

/* ------------------------------- */

.add-margin {
    margin-top: 50px; }

section {
    margin-left: 2%;
    margin-right: 2%; }

footer {
    text-align: center;
}

.double {
    border-bottom: 1px double grey;
    border-top: 1px double grey;
    padding: 1px 0;
}


/*# sourceMappingURL=styles.css.map */
